$box-width: 50px;
$game-width: ($box-width + 4px) * 8;

body {
  display: flex;
  background-color: white;
  justify-content: center;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 100px;
  margin: 0;
  padding: 10px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  text-align: center;
  justify-content: space-around;
  div.game-wrapper {
    background-color: black;
    border: 20px solid black;
    position: relative;
    margin: 5px auto;
    width: $game-width;
    height: $game-width;
    border-radius: 20px;
    overflow: hidden;
    div.box {
      position: absolute;
      height: $box-width - 10px;
      width: $box-width - 10px;
      padding: 0;
      border-radius: 6px;
      border: 5px solid black;
      transition: top 0.5s;
    }
    div.selected {
      border: 5px solid white;
    }

  }

  .score {
    width: 416px;
    display: flex;
    align-items: flex-start;
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    span {
      padding: 0 20px;
    }
  }
}
