$box-width: 50px;

body {
  display: flex;
  background-color: white;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  text-align: center;
  div.game-wrapper {
    position: relative;
    border: 1px solid black;
    margin: 20px auto;
    width: 416px;
    div.box {
      position: absolute;
      height: $box-width;
      width: $box-width;
      border: 1px solid black;
      padding: 0;
    }

  }

  .score-box {
    width: 416px;
    display: flex;
    align-items: flex-start;
  }
}
