$game-width: 450px;
$box-border: 3px;
$box-margin: 2px;
$game-border: 20px;
$box-width: $game-width/8 - (2 * ($box-border + $box-margin));
$start-screen-color: rgba(0, 0, 0, 0.85);

body {
  display: flex;
  background-color: white;
  justify-content: center;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  text-align: center;
  justify-content: space-around;
  div.game-wrapper {
    background-color: black;
    border: $game-border solid black;
    position: relative;
    margin: 5px auto;
    width: $game-width;
    height: $game-width;
    border-radius: $game-border;
    overflow: hidden;
    div.start-screen {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: $start-screen-color;
      border: $game-border solid $start-screen-color;
      border-radius: $game-border;
      position: absolute;
      top: -$game-border;
      left: -$game-border;
      width: $game-width;
      height: $game-width;
      z-index: 2;
      visibility: visible;
      font-family: 'Comfortaa', sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      color: white;

      .final-score {
        display: none;
        color: #d3d3d3;
      }

      .start-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(248, 63, 66);
        border-radius: $game-border;
        border: 0;

        p {
          font-family: 'Comfortaa', sans-serif;
          font-size: 30px;
          text-transform: uppercase;
          color: white;
          padding: 10px 20px 5px 20px;
          margin: 10px;
        }
      }

      .start-button {
        visibility: inherit;
      }

    }
    div.box {
      position: absolute;
      height: $box-width;
      width: $box-width;
      padding: 0;
      border-radius: 6px;
      border: $box-border solid black;
      transition: top 0.5s;
      margin: $box-margin;
    }
    div.selected {
      border: $box-border solid white;
    }

  }

  .score {
    width: $game-width;
    display: flex;
    align-items: flex-start;
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    p {
      margin: 10px
    }
    span {
      padding: 0 20px;
    }
  }
  .timer-container {
    width: $game-width + (2 * $game-border);
    height: 10px;
    margin: 10px 0;
    visibility: hidden;
    .timer-bar {
      background-color: rgb(19, 198, 0);
      width: 100%;
      height: 100%;
      border-radius: 5px;
      transition: width 0.25s;
    }
  }

}

@media only screen and (max-width: 560px) {
  $game-width2: 330px;
  $box-border2: 2px;
  $box-margin2: 1px;
  $game-border2: 10px;
  $box-width2: $game-width2/8 - (2 * ($box-border2 + $box-margin2));

  html, body {
    height: 100%;
  }

  h1 {
    font-size: 55px;
    padding: 5px 0;
  }

  .main-wrapper {
    justify-content: center;
    div.game-wrapper {
      border: $game-border2 solid black;
      width: $game-width2;
      height: $game-width2;
      border-radius: $game-border2;
      div.start-screen {
        border: $game-border2 solid $start-screen-color;
        border-radius: $game-border2;
        top: -$game-border2;
        left: -$game-border2;
        width: $game-width2;
        height: $game-width2;
        font-size: 20px;
        text-transform: uppercase;
        color: white;

        .final-score {
          display: none;
          color: #d3d3d3;
        }

        .start-button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(248, 63, 66);
          border-radius: $game-border2;
          border: 0;

          p {
            font-size: 20px;
          }
        }
      }
      div.box {
        height: $box-width2;
        width: $box-width2;
        border-radius: 6px;
        border: $box-border2 solid black;
        transition: top 0.5s;
        margin: $box-margin2;
      }
      div.selected {
        border: $box-border2 solid white;
      }

    }

    .score {
      width: $game-width2;
      display: flex;
      align-items: flex-start;
      font-family: 'Comfortaa', sans-serif;
      font-size: 20px;
      p {
        margin: 2px 10px;
      }
      span {
        padding: 0 20px;
      }
    }
    .timer-container {
      width: $game-width2 + (2 * $game-border2);
      height: 10px;
      margin: 10px 0;
      visibility: hidden;
      .timer-bar {
        background-color: rgb(19, 198, 0);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: width 0.25s;
      }
    }

  }
}
